<div id="container" class="effect aside-float aside-bright mainnav-lg navbar-fixed footer-fixed">

  <!--NAVBAR-->
  <!--===================================================-->
  <header id="navbar">
    <div id="navbar-container" class="boxed">

      <!--Brand logo & name-->
      <!--================================-->
      <div class="navbar-header" align="center">
        <a href="index.html" class="navbar-brand">
          <img src="img/logo1.png" alt="Dwarftor Logo" class="brand-icon">
          <div class="brand-title">
            <span class="brand-text">Dwarftor</span>
          </div>
        </a>
      </div>
      <!--================================-->
      <!--End brand logo & name-->


      <!--Navbar Dropdown-->
      <!--================================-->
      <div class="navbar-content clearfix">
        <ul class="nav navbar-top-links pull-left">

          <!--Navigation toogle button-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li class="tgl-menu-btn">
            <a class="mainnav-toggle" href="#">
              <i class="demo-pli-view-list"></i>
            </a>
          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End Navigation toogle button-->


        </ul>
        <ul class="nav navbar-top-links pull-right">

          <!--Language selector-->
          <!--End language selector-->

          <!--User dropdown-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li id="dropdown-user" class="dropdown">
            <div *ngIf="currentUser===null">
              <button class="btn btn-mint" (click)="myFacebookStatus()">Login</button>
            </div>

            <!-- Section when loggin -->
            <div *ngIf="currentUser">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <span class="pull-right">
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <i class="demo-pli-male ic-user"></i>
                </span>
                <div   class="username hidden-xs"> {{currentUser.name}}</div>
              </a>


              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">



                <!-- User dropdown menu -->
                <ul class="head-list">
                  <li>
                    <a href="#">
                      <i class="demo-pli-male icon-lg icon-fw"></i> Profile
                    </a>
                  </li>
                </ul>

                <!-- Dropdown footer -->
                <div class="pad-all text-right" (click)="myfacebookLogoutWrapper()">
                  <div  class="btn btn-primary">
                    <i class="demo-pli-unlock"></i> Logout
                  </div>
                </div>
              </div>
            </div>

          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End user dropdown-->


        </ul>
      </div>
      <!--================================-->
      <!--End Navbar Dropdown-->

    </div>
  </header>
  <!--===================================================-->
  <!--END NAVBAR-->

  <div class="boxed">
    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">
      <!--Page content-->
      <!--===================================================-->
        <router-outlet></router-outlet>
      <!--===================================================-->
      <!--End page content-->
    </div>
  </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->

    <!--MAIN NAVIGATION-->
    <!--===================================================-->
    <nav id="mainnav-container">
      <div id="mainnav">
        <div *ngIf="currentUser===undefined || currentUser==null" >
          <br>
          <br>
          <br>
          <ul id="mainnav-menu" class="list-group">
            <!--Category name-->
            <!--Instructions-->
            <li class="list-header">Instructions</li>
            <li class="list-group-item">
              <label>Dwarftor es una aplicación para compartir examenes pasados.<br><br> Solo selecciona un examen, resuelvelo y recibiras tu nota.</label><br><br><br><br><br>
            </li>
            <li class="list-group-item">
            <div>
              <label>Síguenos en fb <br><div class="fb-follow" data-href="https://www.facebook.com/Dwarftor1" data-width="10" data-height="20" data-layout="standard" data-size="small" data-show-faces="true"></div></label>
            </div>
            </li>
          </ul>
        </div>
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
          <div class="nano">
            <div   *ngIf="currentUser"  class="nano-content">

              <!--Profile Widget-->
              <!--================================-->
              <div id="mainnav-profile" class="mainnav-profile">
                <div class="profile-wrap">
                    <p class="mnp-name"> {{currentUser.name}}</p>
                    <span class="mnp-desc">{{currentUser.email}}</span>
                </div>
                <div id="profile-nav" class="list-group bg-trans">
                  <a href="#" class="list-group-item">
                    <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
                  </a>
                  <div class="list-group-item" (click)="myfacebookLogoutWrapper()">
                    <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                  </div>
                </div>
              </div>
              <!--================================-->
              <!--End shortcut buttons-->
              <ul id="mainnav-menu" class="list-group">
                <!--Category name-->
                <!--Instructions-->
                <li class="list-header">Instructions</li>
                <li class="list-group-item">
                  <label>Dwarftor es una aplicación para compartir examenes pasados.<br><br> Solo selecciona un examen, resuelvelo y recibiras tu nota.</label><br><br><br><br><br>
                </li>
                <li class="list-group-item">
                <div>
                  <label>Síguenos en fb <br><div class="fb-follow" data-href="https://www.facebook.com/Dwarftor1" data-width="10" data-height="20" data-layout="standard" data-size="small" data-show-faces="true"></div></label>
                </div>
                </li>
              </ul>
            </div>

        </div>

      </div>

        <!--================================-->
        <!--End menu-->


      </div>
    </nav>
    <!--===================================================-->
    <!--END MAIN NAVIGATION-->





  <!-- FOOTER -->
  <!--===================================================-->
  <footer id="footer">

    <!-- Visible when footer positions are fixed -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="show-fixed pull-right">
      <strong>:)</strong> Es gratis
    </div>
    <!-- Visible when footer positions are static -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="hide-fixed pull-right pad-rgt">

    </div>



    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <p class="pad-lft">&#0169; 2017 Dwarftor</p>



  </footer>
  <!--===================================================-->
  <!-- END FOOTER -->


  <!-- SCROLL PAGE BUTTON -->
  <!--===================================================-->
  <button class="scroll-top btn">
          <i class="pci-chevron chevron-up"></i>
      </button>
  <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
